// ******************************************************************
// MIXIN

@mixin btnmixin($border, $bgcolor, $textcolor) {
	background-color: $bgcolor; 
	color:$textcolor;
	border:$border;
}

// ******************************************************************
// BLOCK STRUCTURE

%btn  {
	-webkit-appearance:none;
	font-size:20px;
	display:inline-block;
	border:none;
	outline:none;
	padding:0 10px;
	border-radius:10px;
	text-decoration:none;
	height:45px;
	line-height:39px;
	letter-spacing:1px;
	margin-top:20px;
	cursor:pointer;
	font-weight:700;
	
}

// ******************************************************************
// BLOCK MODIFIERS 

.btn-bgfill, .btn-bgstroke:hover {
	@extend %btn;
	@include btnmixin(2px solid $banner-textcolor, $banner-textcolor, $banner-color);
}


.btn-bgstroke, .btn-bgfill:hover {
	@extend %btn;
	@include btnmixin(2px solid $banner-textcolor, $banner-color, $banner-textcolor);
}