@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);


// base variables
$h1: 40px;
$font-family: Lato;


// banner variables
$banner-color: #33cccc;
$banner-textcolor: white;

